@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Zilla Slab', serif;
  color: #333;
}

/*Navbar work*/
.navbar{
  display: flex;
  padding: 8px;
  max-width: 800px;
  align-items: center;
  margin: 0px auto;
  border-bottom: 1px solid #333;
}
.navbar h2{
  margin: 0 20px;
  color: #00A6FB;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  text-decoration: none;
  margin-left: 16px;
}
.navbar a:hover{
  color: #00A6FB;
}


.home, .archive{
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
}
.archive h2{
  text-decoration: line-through;
}
.home h1, .archive h1{
  margin-bottom: 20px;
  font-size: 23px;
  color: #00A6FB;
}
.home h2, .archive h2{
  font-size: 20px;
  margin-bottom: 8px;
}
.archive .content{
  text-decoration: line-through;
}
.home .content, .archive .content{
  padding: 10px 16px;
  margin: 20px 0px;
  border: 1px solid #fafafa;
}
.home .content:hover, .archive .content:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.home .inside-element, .archive .inside-element{
  display: flex;
}
.home .inside-element date, .archive .inside-element date{
  margin: 0 auto;
}
.home .inside-element .progress{
  margin-left: auto;
}
.archive .inside-element .progress{
  margin-left: auto;
}
.home button{
  border: 0;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background: #00A6FB;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
}
.create{
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
}
.create h2{
  margin-bottom: 10px;
  color: #00A6FB;
}
.create label{
  text-align: left;
  display: block;
  font-size: 20px;
}
.create input, .create textarea{
  width: 100%;
  padding: 6px;
  margin: 10px 0;
  border: 1px solid #ddd;
  font-size: 16px;
}
.create button{
  border: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  background: #00A6FB;
  cursor: pointer;
  margin-top: 8px;
}
.create button:hover{
  border: 3px solid #333;
}

.list-items a{
  text-decoration: none;
}

.list-detail{
  max-width: 800px;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
}
.list-detail h2{
  font-size: 25px;
  margin-bottom: 20px;
  color: #00A6FB;
}
.list-detail p{
  font-size: 20px;
  margin-left: auto;
  margin-bottom: 10px;
  text-align: left;
}
.list-detail progress{
  margin-left: auto;
}
.list-detail button{
  border: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  background: #00A6FB;
  cursor: pointer;
  margin-top: 8px;
}
.list-detail button:hover{
  border: 3px solid #333;
}
.list-detail .create{
  border-top: 1px solid #ddd;
}

.not-found{
  margin: 10px;
}
.not-found h2{
  font-size: 20px;
  color: #00A6FB;
  margin-bottom: 20px;
}
.not-found p{
  margin-bottom: 20px;
}
.not-found a{
  margin-top: 20px;
}